In [6]:
import pandas as pd
import numpy as np
import string
import re
import warnings
warnings.filterwarnings("ignore")

In [9]:
#reading datasets
hotels=pd.read_csv('zomato.csv')

In [11]:
#Checking head of data 
hotels.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [12]:
#CHecking shape of data set
hotels.shape

(56252, 13)

Step 1: Removing Unwanted Columns

In [13]:
#Removing unwanted col
hotels = hotels.drop(['address','phone'], axis=1)

Step 2:Renaming and Selecting Columns in a Dataset

In [14]:
    #task2: rename columns, only these columns are allowed in the dataset
    # 1.	Id
    # 2.	Name
    # 3.	online_order
    # 4.	book_table
    # 5.	rating
    # 6.	votes
    # 7.	location
    # 8.	rest_type
    # 9.	dish_liked
    # 10.	cuisines
    # 11.	approx_cost
    # 12.	type
    
new_col_names = {'id': 'Id',
'name': 'name',
'online_order': 'online_order',
'book_table': 'book_table',
'rate': 'rating',
'votes': 'votes',
'location': 'location',
'rest_type': 'rest_type',
'dish_liked': 'dish_liked',
'cuisines': 'cuisines',
'approx_cost(for two people)': 'approx_cost',
'listed_in(type)': 'type'
}
    
hotels = hotels.rename(columns=new_col_names)

Step 3: Dealing with Null Values in a Dataset

In [15]:
#deleting null values of name column
    
hotels = hotels.dropna(subset=['name'])
    
#handling null values of online_order
    
hotels['online_order'] = hotels['online_order'].fillna('NA')
    
#handling null values of book_table
    
hotels['book_table'] = hotels['book_table'].fillna('NA')

#handling null values of rating
    
hotels['rating'] = hotels['rating'].fillna(0)
    
#handling null values of votes
    
hotels['votes'] = hotels['votes'].fillna(0)
    
#handling null values of location
    
hotels['location'] = hotels['location'].fillna('NA')
    
#handling null values of rest_type
    
hotels['rest_type'] = hotels['rest_type'].fillna('NA')
    
#handling null values of dishliked
    
hotels['dish_liked'] = hotels['dish_liked'].fillna('NA')
    
#handling null values of cuisines
    
hotels['cuisines'] = hotels['cuisines'].fillna('NA')
    
#handling null values of approxcost
   
hotels['approx_cost'] = hotels['approx_cost'].fillna(0)
   
#handling null values of type
    
hotels['type'] = hotels['type'].fillna('NA')

Step 4: Identifying Duplicate Data in a Dataset

In [16]:
#Droping duplicates from dataset.
hotels.drop_duplicates(inplace=True)

Step 5: Text Cleaning

In [17]:
#we have irrelevant reviews like string eg(RATED,Rated) in our name,online_order etc columns remove this irrelevant text from all the columns.
# Define a function to clean the text in each column
hotels = hotels[hotels['name'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['online_order'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['book_table'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['rating'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['votes'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['location'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['rest_type'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['dish_liked'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['cuisines'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['approx_cost'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['type'].str.contains('rated', case=False)==False]

Step 6: Unique Value Check and Irrelevant Value Handling

In [18]:
# Remove irrelevant values from online_order column
hotels = hotels[(hotels['online_order'] == 'Yes') | (hotels['online_order'] == 'No')]

hotels['rating'] = hotels['rating'].apply(lambda x: str(x.split('/')[0]) if (x != 'NEW' and x != '-') else 0)

Step 7: Cleaning and Exporting Zomato Dataset

In [20]:
#remove the unknown character from the dataset and export it to "zomatocleaned.csv"
hotels['name'] = hotels['name'].str.replace('[Ãx][^A-Za-z]+','',regex=True)

In [22]:
#export cleaned Dataset to newcsv file named "zomatocleaned.csv"
hotels.to_csv('zomatocleaned.csv')